.table-view .column-header .label {
    -fx-padding: 8px;
    -fx-text-fill: white;
}
.column-header {
    -fx-background-color: #5873e5;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.table-view .column-header .arrow  {
    -fx-background-color: white;
}

